
<h1>{{title}}</h1>
<hr>
{{#each burger}}
  	<h1>Name: {{burger_name}}</h1>
	<h2>Eaten?: {{eaten}}</h2>
{{/each}}

<h2>Add a Burger!</h2>

<form class="create-form" action="/" method="POST">
  <div>
    <label for="burger-name">Author:</label>
    <input type="text" id="auth" name="burger-name">
  </div>
  <button type="submit">Add Burger!</button>
</form>