
<h1>{{title}}</h1>
{{#each burger}}
	<ul>
  		<li>{{id}}: {{burger_name}}</li>
  		<button>Eat Me!</button>
  	</ul>
{{/each}}

<h2>Add a Burger!</h2>

<form class="create-form" action="/" method="POST">
  <div>
    <label for="burger-name">Burger:</label>
    <input type="text" id="burger" name="newBurger">
  </div>
  <button id ='submit' type="submit">Add Burger!</button>
</form>